@import './variables.scss';
@import '../../node_modules/material-design-lite/src/material-design-lite.scss';
@import '../../node_modules/knacss/sass/knacss.scss';

body {
  @extend .mdl-color--indigo-50;
}

@media (min-width: ($tiny + 1)) {
  // body {
  //   background-size:  cover;
  //   background-image: url('/static/images/background.png');
  // }
}

input {
  line-height: 32px;
}

#root {
  position: absolute;
  height: 100%;
}

.loginComponent {
  @extend .tiny-w100, .small-w50, .mauto, .mdl-shadow--8dp, .mdl-color--white;

  .mdl-card__actions {
    @extend .txtright;

    .mdl-button {
     @extend .mdl-color-text--primary-contrast, .mdl-color--primary-dark;
    }
  }
}

.dashboardComponent {
  @media (max-width: ($tiny)) {
    .mdl-layout__content {
      padding-top: 0.2rem;
      padding-bottom: 4rem;

      .spaced {
        padding: 0.2rem;

        .mdl-card {
          padding: 0.8rem 1.6rem;
        }
      }
    }
  }

  @media (min-width: ($tiny + 1)) {
    .mdl-layout__content {
      padding-top: 0.4rem;
      padding-bottom: 6rem;

      .spaced {
        padding: 0.4rem;

        .mdl-card {
          padding: 0.8rem 1.6rem;
        }
      }
    }
  }
}
